{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}" />

<a href=""><div class=logo></div></a>

<div class=top>
	<h1>{% if action == None %}Edit or Add {% elif action == "edit" %}Edit {% elif action == "create" %}Create  {% endif %}{% if pokemon != None %}{{pokemon}}{% else %}a pokemon{% endif %}</h1>
	{% if pokemon != None %}{% if previous_exist %}<a href={{previous_url}}>previous</a>{% endif %} {% if next_exist %}<a href={{next_url}}>next</a>{% endif %} {% endif %}<a href="../">back</a>
</div>

<div class=left>
	<table>
		<tr><td><a href="/wiki/">index</a></td></tr>
		<tr><td><a href="/wiki/pokemons">list of pokemons</a></td></tr>
		{% for pokemon in pokemon_list %}
			<tr><td><a href="/wiki/pokemons/{{ pokemon.pokedex }}/">-{{ pokemon }}</a></td></tr>
		{% endfor %}
	</table>
</div>

<div class=main>
	{% if action == None %}
	<table>
		<tr><td>You can</td></tr>
		<tr><td><a href="edit/">Edit or delete</a> existing pokemon.</td></tr>
		<tr><td><a href="create/">Create</a> new pokemon.</td></tr>
	</table>

	{% elif pokemon != None %}
		<form action="" method="post">
			{% csrf_token %}
			<table frame=box rules=all bgcolor="#ccccff">
				{{ form }}
			</table>
			<input type="submit" name="button" value="Submit" />
			<input type="submit" name="button" value="delete" />
		</form>
		{% if done %}<p>Saved successfully</p>{% endif %}

	{% elif action == "create" %}
		<form action="" method="post">
			{% csrf_token %}
			<table frame=box rules=all bgcolor="#ccccff">
				{{ form }}
			</table>
			<input type="submit" value="Submit" />
		</form>

	{% elif action == "edit" %}
	<table frame=box rules=all bgcolor="#ccccff">
		<tr><th>n.</th><th>name</th></tr>
		{% for pokemon in pokemon_list %}
		<tr><td>{{ pokemon.pokedex }}</td><td><a href="{{ pokemon.pokedex }}/">{{ pokemon }}</a></td></tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
